<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <p> PAGE POTIN </p>

      <p>Voici le page du potin n°<%= id %></p>
      <p>Son auteur : <%= gossip.author %><br/></p>
      <p>Le potin : <%= gossip.content %></p>
  </body>
